:host {
  display: block;
}

ion-grid {
  width: 100%;
  height: 100%;
}

ion-row {
  width: 100%;
  height: 100%;
}

ion-col {
  width: 100%;
  height: 100%;
}

ion-card {
  width: 100%;
  height: 100%;
  margin: 0;
}

s-line-chart {
  width: 100%;
  height: 100%;
}